body.satoshi {
    background-color: black;
}

h1#title {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

h1#title, figure#img-div {
    padding: 1em 0;
}

figcaption#img-caption {
    color: white;
    padding: 1em 0;
    font-size: .3rem;
}

main#main {
    display: flex;
    text-align: center;
}

#section-1 {
    width: 50%;
    height: 50%;
}

#section-2 {
    width: 50%;
    height: 50%;
}

img#image {
    width: 30vw;
    display: block;
    height: auto;
    margin: auto;
}

@media (min-width: 600px) {

    h1#title {
        font-size: 2rem;
    }
    
    figcaption#img-caption {
        font-size: .85rem;
    }

}
